/* setting background color */
html {
    background-color: #aad4cf;
}

/* setting background colour and margins */
main {
    background-color: rgb(198, 250, 243);
    margin-left: 16rem;
    margin-right: 16rem;
}

/* header image adn text */
h1{
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 10rem;
    padding-bottom: 1rem;
    padding-top: 20rem;
    margin: 0px;
    font-size: 4rem;
    color: white;
    text-align: center;
}

/* removing bullets */
.navlist {
    margin: 0px;
    list-style: none;
}

/* styling nav bar */
nav ul li {
    font-size: 2rem;
    display: inline-block;
    width: 33%;
    text-align: center;
}

/* styling nav bar border */
.homeli {
    border-right:2px solid rgba(128, 128, 128, 0.61) ;
}

/* styling paragraph heading */
h2 {
    padding-left: 2rem;
}

/* styling image */
img {
    padding-left: 2rem;
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
    display: inline-block;
    float: left;
}

/* styling first paragraph text */
article {
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5em;
}

/* styling form */

form {
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid black;
    padding: 2rem;
}

.answer {
    width: 95%;
}

.message {
    height: 4rem;
}

button {
    background-color: rgb(198, 250, 243);
    box-shadow: none;
    border: 1px solid black;
    margin-top: 1rem;
    padding: 1rem;
}

/* footer */
footer{
    padding: 2rem;
    text-align: right;
}